/* style.css */

body {
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 30px;
    border-radius: 0px;
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.choices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.choices button {
    padding: 10px 20px;
    margin: 0 5px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    flex-grow: 1;
}

.choices button:hover {
    background: #555;
}

.results p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #555;
}

#user-choice, #computer-choice, #result {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}
